
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-list{
    display: flex;
    align-items: center;
    padding: 20px;
}

.contact-list > li{
    padding: 20px;
}

.contact-headshot{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.logo{
    width: 64px
}


@media only screen and (max-width: 475px){


    .contact-headshot{
        width: 100px;
        height: 100px;
    }

    .contact-list > li{
        padding: 10px;
    }

    .logo{
        width: 40px
    }

}