@import url("about.css");
@import url("welcome.css");
@import url("projects.css");
@import url("nav.css");
@import url("contact.css");


html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fffdff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio{
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.portfolio-container{
  width: 100%;
  height: 100%;
}

