@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-Light.ttf);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fffdff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

#portfolio-container {
  width: 100%;
  height: 100%;
}
