

.nav-bar{
    margin-top: 30px;
    width: 100%;
    max-width: 900px;
}

.nav-bar-link-container{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.nav-bar-link-container > li{
    margin-left: 30px;
}

.nav-bar-link{
    text-decoration: none;
    color: black;
}

.nav-bar-link:hover{
    cursor: pointer;
}
.nav-bar-link:active{
    color: gray;
}

@media only screen and (max-width: 550px){

    .nav-bar-link-container{
        justify-content: center;
    }

    .nav-bar-link-container > li:first-of-type{
        margin: 0;
    }

}