

.proj-container{
    padding-top: 40px;
}

.proj{
    display: flex;
    background: white;
    border-radius: 5px;

    margin-top: 30px;
    padding: 10px;
}

.proj-pic{
    width: 100%;
    max-width: 30em
}

.proj-demo{
    width: 100%
}

.proj-name{
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
}

.proj-description{
    padding-top: 10px;
}

.proj-tech{
    display: flex;
    flex-wrap: wrap;
}

.tech-buttons{
    margin: 10px 10px 0 0;
    border: 1px solid black;
    padding: 5px 10px;
}

.proj-links{
    padding-top: 10px;
}

.proj-links > a{
    margin-right: 20px
}