

.proj-container{
    padding-top: 40px;
}

.proj{
    background: white;
    border-radius: 5px;

    margin-top: 30px;
    padding: 10px;
}

.proj-name{
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
}

.proj-description{
    padding-top: 10px;
}

.proj-tech{
    display: flex;
    padding-top: 10px;
}

.tech-buttons{
    margin-right: 10px;
    border: 1px solid black;
}

.proj-links > a{
    margin-right: 20px
}