

.welcome{
    margin-top: 100px;
}

.name{
    color: #66457b;
    font-size: 70px;
    font-weight: 900;
}


.mini-about{
    width: 100%;
    max-width: 600px;
    font-size: 20px;
    margin: 60px 0 40px;
    color: #492b5f;
}

.blinker{
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {opacity: 0;}
}


@media only screen and (max-width: 490px){
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-name{
        margin-right: 50px;
    }

    .last-name{
        margin-left: 45px;
    }

    .mini-about{
        text-align: center;
    }
}